.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.actions>.btn {
    width: 310px;
    padding: .8rem;
    background-color: transparent;
    border: none;
    font-family: 'Red Hat Display Bold';
    font-size: .9rem;
    color: var(--color-neutral-desaturated-blue);
    font-weight: var(--font-weight3);
}

.actions>.btn:nth-child(2){
    margin-top: 1rem;
}

.actions>.btn.btn-primary {
    background-color: var(--color-primary-bright-blue);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 20px 25px 0px rgba(100, 100, 300, 0.3);
}